.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1a;
}

.left-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  font-size: 36px;
  margin-bottom: 20px;
  padding-top: 0px;
}

.profile-table {
  /* width: 400px; */
}

.visit-info p {
  font-size: 20px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #7ed957 !important;
  border-radius: 10px;
  width: 200px;
  height: 65px;
  font-size: 24px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  /* margin-left: -60px; */
}

.current-user-num-in {
  color: white;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
}

.current-user-num-in p {
  font-size: 40px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 20px; /* Add some padding for smaller screens */
  }

  .right-section {
    flex-direction: column;
    gap: 10px; /* Reduce space between buttons */
  }

  button {
    width: 100%; /* Make buttons full width */
  }
}
